<div class='header'>
  <ul class='nav nav-pills pull-right'>
    <li class='active'><a ng-href='#'>Home</a></li>
    <li><a ng-href='#'>Download</a></li>
    <li><a ng-href='#'>Leaderboard</a></li>
  </ul>
  <h3 class='text-muted'>TinyHR Beta</h3>
</div>

<div class='row intro'>
  <h4> Welcome to TinyHR!</h4>
  <p>
    Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
  </p>
</div>

<div class='jumbotron'>
  <h1>Let's Code</h1>
  <p class='lead'>
    Insert game here
  </p>
  <p><a class='btn btn-lg btn-success' ng-href='#'>Play!</a></p>
</div>

<div class='row marketing'>
  <h4>Lorem ipsum dolor sit amet</h4>
  <p>
    Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
  </p>
</div>

<div class='row team'>
  <h4>TinyHR Team</h4>
  <div class='span4'>
    <h5>Romain Lavoix</h5>
  </div>
  <div class='span4'>
    <h5>Rick Peng</h5>
  </div>
  <div class='span4'>
    <h5>Matt Olde</h5>
  </div>
</div>

<div class='footer'>
  <p><span class='glyphicon glyphicon-heart'></span> the TinyHR team and hire us!</p>
</div>
