<div class='header'>
  <ul class='nav nav-pills pull-right'>
    <li class='active'><a ng-href='#'>Home</a></li>
    <li><a ng-href='#'>Download</a></li>
    <li><a ng-href='#'>Leaderboard</a></li>
  </ul>
  <h3 class='text-muted'>TinyHR Alpha</h3>
</div>

<div class='row intro'>
  <h4> Welcome to TinyHR!</h4>
  <p>
    Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
  </p>
</div>

<div class='jumbotron'>
  <h1>Let's Code</h1>
  <p class='lead'>
    Insert game here
  </p>
  <p><a class='btn btn-lg btn-success' ng-href='#'>Play!</a></p>
</div>

<div class='row marketing'>
  <h4>Lorem ipsum dolor sit amet</h4>
  <p>
    Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
  </p>
</div>

<div class='row team'>
  <h4>TinyHR Team</h4>
  <div class='col-xs-4'>
    <h5>Romain Lavoix</h5>
    <img src='images/rlavoixprofile.png'/>
    <div class='teamRow'>
      <span class='glyphicon glyphicon-globe'></span>
      <a class='siteLink' class='row' href='http://www.google.com'>Website</a>
    </div>
    <div class='teamRow'>
      <img class='logo' src='images/GitHub.png'</img>
      <a class='siteLink'class='row' href='https://www.github.com/roma98'>Github</a>
    </div>
    <div class='teamRow'>
      <img class='logo' src='images/LinkedIn.png'</img>
      <a class='siteLink' href='https://www.linkedin.com/in/romainlavoix/en'>LinkedIn</a>
    </div>
  </div>
  <div class='col-xs-4'>
    <h5>Rick Peng</h5>
    <img src='images/rpengprofile.png'/>
    <div class='teamRow'>
      <span class='glyphicon glyphicon-globe'></span>
      <a class='siteLink' class='row' href='http://www.rcpeng.com'>Website</a>
    </div>
    <div class='teamRow'>
      <img class='logo' src='images/GitHub.png'</img>
      <a class='siteLink'class='siteLink' href='https://www.github.com/rcpeng34'>Github</a>
    </div>
    <div class='teamRow'>
      <img class='logo' src='images/LinkedIn.png'</img>
      <a class='siteLink' href='https://www.linkedin.com/pub/richard-peng/23/7b9/575'>LinkedIn</a>
    </div>
  </div>
  <div class='col-xs-4'>
    <h5>Matt Olde</h5>
    <img src='images/moldeprofile.png'/>
    <div class='teamRow'>
      <span class='glyphicon glyphicon-globe'></span>
      <a class='siteLink' class='row' href='http://www.google.com'>Website</a>
    </div>
    <div class='teamRow'>
      <img class='logo' src='images/GitHub.png'</img>
      <a class='siteLink'class='row' href='https://www.github.com/mattolde'>Github</a>
    </div>
    <div class='teamRow'>
      <img class='logo' src='images/LinkedIn.png'</img>
      <a class='siteLink' href='https://au.linkedin.com/pub/matthew-olde/14/564/296'>LinkedIn</a>
    </div>
  </div>
</div>

<div class='footer'>
  <p><span class='glyphicon glyphicon-heart'></span> the TinyHR team and hire us!</p>
</div>
